body {
    background-color: #541348;
    text-align: center;
}

.title, ul, p {
    color: #fff;
}

li {
    list-style-type: none;
}

#role {
    padding-right: 3rem;
}

#wrapper {
    display: flex;
}

#non-cast, #cast {
    flex: 1;
}